{% extends "base.html"%}
{% block title %}Dodawanie użytkownika{% endblock %}

{% block content %}

<div class="container text-center">
    <div class="justify-content-center text-center"></div>
    <form action="{{ request.path }}?id={{ userr.id }}" method='POST'>
        <br />
        <h2 align = 'center'>Edytuj użytkownika</h2>
        <div class="form-group col-md-6 login_row">
            <label for="username">Username</label>
            <input type="username" class="form-control" name='username' id="email" aria-describedby="emailHelp" value={% if user %}{{ userr.username}}{% endif %}>
        </div>

        <div class="form-group col-md-6 login_row">
            <label for="password">Hasło</label>
            <input type="password" class="form-control" name='password' id="password">
        </div>
        

        <!-- <div class="custom-file">
            <input type="file" class="custom-file-input" id="validatedInputGroupCustomFile" required>
            <label class="custom-file-label" for="validatedInputGroupCustomFile">Choose file...</label>
          </div> -->

        <div class="form-group col-md-6 login_row">
            <label for="select">Rola</label>
            <select class="form-control" name="role" id="exampleFormControlSelect1">
                {% if user %}
                <option value={{ userr.role }}>{{ userr.role }}</option>
                {% endif %}
                <option value="user">User</option>
                <option value="admin">Admin</option>
                </select>
        </div>

        <br />
        
        <button type="submit" class="btn btn-success">Potwierdź</button>
    </form>
    </div>
</div>


{% endblock %}
 
